.titulo {
    padding-left: 410px;
    font-size: 150%;
}
.titulo {
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
}
.texto {
    text-align: left;
    margin-top: 20px;
    font-size: 180%;
}
.contatos {
    margin-top: 20px;
}
